.bg-image {
  background-image: url("../img/contact-bg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

input[type=text] {
  padding: 12px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid black;
}

label {
  font-size: larger;
  font-weight: bolder;
}

#contact-form {
  width: 40%;
  position: relative;
  background: #f4f4f4;
  padding: 3rem;
}