.bg-image {
    background-image: url("../img/contact-bg.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

label {
    font-size: larger;
    font-weight: bolder;
}

input[type=text] {
    padding: 12px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid black;
}

.review {
    background: #f4f4f4;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#review-form {
    position: relative;
    background: #f4f4f4;
    padding: 3rem;
}