
.review{
    width: 90%;
    margin:auto;
    background: #fdfdfd;
    position:relative;    
    border-radius: 5px;
    display: block;
    margin-top: 1rem;
    margin-bottom:2rem;
    padding: 3rem;
}

#review-form {
    width: 40%;
    position: relative;
    background: #f1f1f1;
    padding: 3rem;
}

#review-pane {
    width: 90%;
    position: relative;
    background: #f4f4f4;
    margin: auto;
    padding-bottom: 3rem;
}

.stars {
    display: inline-block;
}

.star, .filter-star {
    cursor: pointer;
}

.star.active {
    color: gold;
}