{% extends 'base.html' %}

<!-- Head -->
{% block head %}
<title>Admin Panel</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}" type="text/css" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/reviews.css') }}" type="text/css" />

{% endblock %}
<!--Body-->
{% block body %}


<div id="header" class="d-flex text-center bg-primary text-white py-5">
    <div class="container">
        <h1 class="display-4">Admin Station</h1>
    </div>
</div>

{% include 'admin_nav.html' %}

{% include 'error-modal.html' %}

{% if unapproved_reviews %}
<div id="review-pane" class="container-fluid my-5 pane">
    <div class="md-4 fs-1 text-center fw-bolder w-100">
        {{ unapproved_reviews|length }} Unapproved Customer Reviews
    </div>
    
    {% for review in unapproved_reviews %}
    {% include 'review-admin-view.html' %}
    {% endfor %}
    <!-- no new reviews -->
    {% else %}
    <div class="fs-2 text-center fw-bold w-100">
        No New Unapproved Customer Reviews
    </div>
    <!-- end unapproved review section -->
    {% endif %}
</div>
{% endblock %}