<div class="bg-secondary text-white">
    <div class="row">
        <div class="text-center col-sm">
            <a href="{{ url_for('admin_home')}}">
                <button class="btn btn-secondary fs-2 fw-bold w-100">
                    Admin Home
                </button>
            </a>
        </div>
        <div class="text-center col-sm">
            <a href="{{ url_for('user_home')}}">
                <button class="btn btn-secondary fs-2 fw-bold w-100">
                    User Panel
                </button>
            </a>
        </div>
        <div class="text-center col-sm">
            <a href="{{ url_for('tag_home')}}">
                <button class="btn btn-secondary fs-2 fw-bold w-100">
                    Tag Panel
                </button>
            </a>
        </div>
    </div>
</div>