{% extends 'base.html' %}

<!-- Head -->
{% block head %}
<title>Contact</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}" type="text/css" />
{% endblock %}

<!--Body-->
{% block body %}

{% for message in get_flashed_messages() %}
<h2>{{ message }}</h2>
{% endfor %}

<div id="contact-form" class="container-fluid">
    <span id="contact-form-label">Contact</span>
    <form method="POST">
        {{ form.hidden_tag()}}

        <div class="row">
            {{ form.subject.label }}
            {{ form.subject }}
        </div>


        <div class="row">
            {{ form.email.label }}
            {{ form.email }}
        </div>

        <div class="row">
            {{ form.phone.label }}
            {{ form.phone }}
        </div>

        {{ form.content.label }}
        {{ form.content() }}
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='content') }}

        <div class="row">
            {{ form.submit(class="btn btn-primary col-sm-5")}}
        </div>
    </form>
</div>
{% endblock %}