{% extends 'base.html' %}

<!-- Head -->
{% block head %}
<title>Projects</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}" type="text/css" />

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<script src="https://unpkg.com/htmx.org@1.9.4"></script>
{% endblock %}
<!--Body-->
{% block body %}


<div class="bg-image">
  <div id="header" class="d-flex text-center bg-primary text-white py-5">
    <div class="container">
      <h1 class="display-4">Reviews</h1>
    </div>
  </div>

  {% include 'error-modal.html' %}

  <input type="text" class="input" placeholder="Search" name="query" hx-get="/projects/search"
    hx-trigger="keyup changed delay:500ms" hx-target="#project-pane">

  {% include 'project-pane.html' %}



  {% if user.is_authenticated %}
  {% include "project-create.html" %}
  {% endif %}
</div>

{% endblock %}