{% extends 'base.html' %}

<!-- Head -->
{% block head %}
<title>Projects</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}" type="text/css" />
<script src="https://unpkg.com/htmx.org@1.9.4"></script>
{% endblock %}
<!--Body-->
{% block body %}

<div class="bg-image">
  <div id="header" class="d-flex text-center bg-primary text-white py-5">
    <div class="container">
      <h1 class="display-4">Projects</h1>
    </div>
  </div>

  {% include 'error-modal.html' %}

  <div class="bg-primary">
    <div class="row">
      <input
        type="text"
        class="py-4"
        placeholder="Search"
        name="query"
        hx-get="/projects/search"
        hx-trigger="keyup changed delay:500ms"
        hx-target="#project-pane"
      />
    </div>
    <div>
      {% for tag in tags %}

      <input
        type="button"
        class="btn btn-secondary"
        value="{{ tag.tag_name }}"
        hx-get="/projects/filter/{{ tag.id }}"
        hx-trigger="click"
        hx-target="#project-pane"
      />

      {% endfor %}
    </div>
  </div>
  {% include 'project-pane.html' %} {% if user.is_authenticated %} {% include "project-create.html" %} {% endif %}
</div>

{% endblock %}
