{% extends 'base.html' %}

<!-- Head -->
{% block head %}
<title>Projects</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}" type="text/css" />
{% endblock %}
<!--Body-->
{% block body %}

{% for message in get_flashed_messages() %}
<h2>{{ message }}</h2>
{% endfor %}

{% if form.errors %}
{{ form.errors }}
{% endif %}

<div class="bg-image">
  <div id="header" class="d-flex text-center bg-primary text-white py-5">
    <div class="container">
      <h1 class="display-4">Custom Projects</h1>
    </div>
  </div>


  {% if ready_projects %}
  <div id="project-pane" class="container-fluid">
    {% for project in ready_projects %}
    {% include 'project.html' %}
    {% endfor %}
    <!-- end of project-pane -->
    {% endif %}

    {% if user.username %}
    {% include "project-create.html" %}
    {% endif %}
  </div>
</div>

{% endblock %}