{% extends 'base.html' %}

<!-- Head -->
{% block head %}
<title>Reviews</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/reviews.css') }}" type="text/css" />
{% endblock %}
<!--Body-->
{% block body %}



<div class="bg-image">
  <div id="header" class="d-flex text-center bg-primary text-white py-5">
    <div class="container">
      <h1 class="display-4">Reviews</h1>
    </div>
  </div>
  
  {% include 'error-modal.html' %}
  
  {% if approved_reviews %}
  <div id="review-pane" class="container-fluid my-5 pane">
    <div class="md-4 fs-1 text-center fw-bolder w-100">
      {{ approved_reviews|length }} Reviews <br />
      Average: {{ average_rating }}
    </div>

    {% for review in approved_reviews %}
    {% include 'review.html' %}
    {% endfor %}

  </div>
  {% endif %}
  {% include 'review-create.html' %}

  {% endblock %}
</div>
</div>