{% extends 'base.html' %}

<!-- Head -->
{% block head %}
<title>Reviews</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/reviews.css') }}" type="text/css" />
{% endblock %}
<!--Body-->
{% block body %}



<div class="bg-image">
  <div id="header" class="d-flex text-center bg-primary text-white py-5">
    <div class="container">
      <h1 class="display-4">Reviews</h1>
    </div>
  </div>

  {% include 'error-modal.html' %}

  <div class="text-center fs-3">
    <span>
      Sort reviews <br />
    </span>
    <input type="button" class="filter-star btn btn-secondary" value="*" hx-get="/reviews/filter/1" hx-trigger="click" hx-target="#review-pane">
    <input type="button" class="filter-star btn btn-secondary" value="*" hx-get="/reviews/filter/2" hx-trigger="click" hx-target="#review-pane">
    <input type="button" class="filter-star btn btn-secondary" value="*" hx-get="/reviews/filter/3" hx-trigger="click" hx-target="#review-pane">
    <input type="button" class="filter-star btn btn-secondary" value="*" hx-get="/reviews/filter/4" hx-trigger="click" hx-target="#review-pane">
    <input type="button" class="filter-star btn btn-secondary" value="*" hx-get="/reviews/filter/5" hx-trigger="click" hx-target="#review-pane">
    <input type="button" class="btn btn-primary" value="clear" hx-get="/reviews/filter/0" hx-trigger="click"
      hx-target="#review-pane">
  </div>

  {% if reviews %}
  {% include 'review-pane.html' %}
  {% endif %}

  {% include 'review-create.html' %}

  {% endblock %}

</div>
{% block scripts %}

<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"> </script>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"> </script>
<script src="{{ url_for('static', filename='js/reviews.js') }}"></script>
<script src="https://unpkg.com/htmx.org@1.9.4"></script>

{% endblock %}
</div>