{% extends 'base.html' %}

<!-- Head -->
{% block head %}
<title>Reviews</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/reviews.css') }}" type="text/css" />
{% endblock %}
<!--Body-->
{% block body %}


{% for message in get_flashed_messages() %}
<h2>{{ message }}</h2>
{% endfor %}

<!-- admin section -->
{% if user.username %}
<h1>Review Admin Panel: Welcome {{user.username}}</h1>

{% if unapproved_reviews %}
<div class="container-fluid">
  <span id="review-count">
    {{ unapproved_reviews|length }} Unapproved Customer Reviews
  </span>

  {% for review in unapproved_reviews %}
  <div class="shadow p-3 mb-5 bg-body rounded review">

    <span class="author">Posted by: {{ review.author }}</span>
    <br />

    <span class="title">Summary: {{ review.title }}</span>
    <br />

    <span class="post-date">{{ review.pretty_date() }}</span>
    <br />

    <div class="review-text">
      {{ review.content|safe }}
    </div>
    <br />
    <a href="{{ url_for('approve_review', review_id=review.id)}}"><button>Approve</button></a>
    <a href="{{ url_for('delete_review', review_id=review.id)}}"><button>Delete</button></a>
    </form>
  </div>

  {% endfor %}
  {% else %}
  <span id="review-count">
    No New Unapproved Customer Reviews
  </span>
  {% endif %}
  {% endif %}
  {% if approved_reviews %}
  <div class="container-fluid">
    <span id="review-count">
      {{ approved_reviews|length }} Customer Reviews
    </span>

    {% for review in approved_reviews %}
    <div class="shadow p-3 mb-5 bg-body rounded review">

      <div class="review-header">
        <span class="author">Posted by: {{ review.author }}</span>
        <br />
        <span class="title">Summary: {{ review.title }}</span>
        <br />
        <span class="post-date">{{ review.pretty_date() }}</span>
        <br />
      </div>
      <div class="review-text">
        {{ review.content|safe }}
      </div>
    </div>
    {% endfor %}

  </div>
  {% endif %}

  <!-- <div class="parent container d-flex justify-content-center align-items-center h-100"> -->
  <div>
    <div class="container-fluid new-review">
      <span id="add-review">Add a review</span>
      <form method="POST">
        {{ form.hidden_tag()}}

        <div class="row">
          {{ form.author.label }}
          {{ form.author }}
        </div>


        <div class="row">
          {{ form.title.label }}
          {{ form.title }}
        </div>

        {{ form.content() }}
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='content') }}

        <div class="row">
          <input type="file">Select Files
        </div>

        <div class="row">
          {{ form.submit(class="btn btn-primary col-sm-5")}}
        </div>
      </form>


    </div>
  </div>
  {% endblock %}