{% extends 'base.html' %}

<!-- Head -->
{% block head %}
<title>Projects</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/users.css') }}" type="text/css" />
{% endblock %}
<!--Body-->
{% block body %}


<div class="bg-image">
    <div id="header" class="d-flex text-center bg-primary text-white py-5">
        <div class="container">
            <h1 class="display-4">Users</h1>
        </div>
    </div>

    {% include 'admin_nav.html' %}

    {% include 'error-modal.html' %}

    <div id="user-pane" class="container-fluid my-5 pane">
        <div class="md-4 fs-1 text-center fw-bolder w-100">Users</div>
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email Address</th>
                    <th scope="col">Created</th>
                    <th scope="col">Last Login</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                {% include 'user.html' %}
                {% endfor %}
            </tbody>
        </table>

        {% include 'user-create.html' %}
    </div>
</div>
{% endblock %}