<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email Address</th>
            <th scope="col">Created</th>
            <th scope="col">Last Login</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        {% include 'user.html' %}
        {% endfor %}
    </tbody>
</table>

<div class="container-fluid new-user">
    <span id="add-review">Add a user</span>
    <form method="POST">
        {{ user_form.hidden_tag()}}

        <div class="row">
            {{ user_form.username.label }}
            {{ user_form.username }}
        </div>

        <div class="row">
            {{ user_form.email.label }}
            {{ user_form.email }}
        </div>

        <div class="row">
            {{ user_form.password.label }}
            {{ user_form.password(type="password") }}
        </div>

        <div class="row">
            {{ user_form.submit(class="btn btn-primary col-sm-5")}}
        </div>
    </form>
</div>